<div class="container mx-auto my-8">
  <h1 class="text-3xl font-bold mb-6 text-center">Articles</h1>
  <div class="flex justify-center mb-4">
    <%= link_to 'New Article', new_article_path, class: 'bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700' %>
  </div>

  <div class="bg-black shadow-md rounded-lg overflow-hidden">
    <table class="table-auto w-full mt-6 border-collapse border border-gray-300 rounded-lg">
      <thead>
        <tr class="bg-gray-200 text-left">
          <th class="border border-gray-300 p-2 font-medium text-gray-700 text-center">Title</th>

          <th class="border border-gray-300 p-2 font-medium text-gray-700 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr class="hover:bg-gray-100">
            <td class="bg-gray-100 border border-gray-300 p-2 text-center"><%= article.title %></td>
            <td class="bg-gray-100 border border-gray-300 p-2 text-center space-x-2">
              <%= link_to 'Show', article_path(article), class: 'bg-green-500 text-white py-1 px-3 rounded-lg hover:bg-green-700' %>
              <%= link_to 'Edit', edit_article_path(article), class: 'bg-yellow-500 text-white py-1 px-3 rounded-lg hover:bg-yellow-700' %>
			 <%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-red-500 text-white py-1 px-3 rounded-lg hover:bg-yellow-700 mr-2' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
